body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
}

.logo {
  width: 120px;
  border-radius: 20px;
  margin-bottom: 20px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background: gold;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
